* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 0 20px;
    line-height: 60px;
    min-width: 205px;
    background: #2e80ce;
    border-radius: 999px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* Header */
.header {
    height: 100vh;
    padding: 36px 0 0 0;
    background: var(--primary-color);
}

.header-top {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 1rem;
}

.logo__circle {
    position: relative;
}

.logo__circle::before {
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    background: #2e80ce;
    border-radius: 50%;
}

.logo__circle::after {
    content: "";
    position: absolute;
    left: 1.1em;
    top: 1em;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    border-radius: 50%;
}

.logo__text {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    flex-direction: column;
}

.logo__brand {
    margin-left: 0.6em;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 21px;
}

.header-action__login,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active {
    position: relative;
    color: #fff;
    font-weight: 400;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    margin-left: 222px;
}

.header-action__signup {
    margin-left: 28px;
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
}

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__media {
    margin-left: auto;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--big {
    position: relative;
    margin-right: -6px;
}

.hero__img--small {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__info {
    margin-left: auto;
    width: 41%;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px 18px 20px 22px;
    border-radius: 12px;
    background: #fff;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-color);
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    background: #eff6fd;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* Work */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px 42px;
    background: #ffffff;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__link {
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    gap: 130px;
}

.feature__media {
    position: relative;
    width: 49%;
    padding: 0 58px 121px 0;
}

.feature__img--large {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.feature__img--small {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__desc {
    margin-top: 18px;
}

.feature__btn {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 85px 0;
}

.member__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__btn {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item {
    text-align: center;
    transition: 0.25s;
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__img {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.member__control {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #2e80ce;
    color: #fff;
    border: solid 1px #2e80ce;
    outline: none;
}

.member__control-btn:hover {
    background: #fff;
    color: #575f66;
    border: solid 1px #575f66;
}

.member__control-next-btn {
    rotate: 180deg;
}
